.suggest-holder .suggest, .suggest-holder .toggleCompare {
    border: 1px solid white;
    display: none;
    position: absolute;
    background: #ddd;
    height: 36px;
    text-align: center;
    border-radius: 50px;
    right: -5px;
    cursor: help;
    box-shadow: 1px 1px 3px;
}
.suggest-holder:hover .suggest, .suggest-holder:hover .toggleCompare {
    display: block;
}

.suggest-holder .toggleCompare {
    top: 30px;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 11px;
    z-index: 1;
}
.suggest-holder .suggest {
    z-index: 2;
    top: -15px;
    padding: 3px 13px;
}

.suggest-holder {
    position:  relative;
}


.toggleCompare.enabled {
    background-color: #f5f;
}
.toggleCompare.disabled {
    background-color: #999;
    border-color: #222;
}

.suggest-holder .suggest:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    right: 0%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
    white-space: pre-wrap;
    width: 150px;
}

nav a {
    color: white;
    padding: 10px;
    font-size: 1.5em;
}

nav a:hover {
    color: #ddd;
    padding: 10px;
    font-size: 1.5em;
}
