{% extends 'base.html' %}
{% load static %}
{% block title %}
Разбивка {{criteria.name}} по {{criteria.slicename}}
{% endblock %}

{% block main %}
      <section class="container justify-content-between my-4">
      <h1>About Us</h1>
      <p>
      Всем привет, мы - команда Хикканы - представляем наш проект “Безбашенный Анализатор”, или его официальное название “Интеллектуальная система оценки качества образовательных программ(ОП)”.
      Наш продукт использует более тридцати придуманных нами  критериев для наиболее достоверного и правдивого описание полученной модели. Может показаться, что более тридцати критериев мало, специально для таких людей мы спроектировали функционал добавления критерия к ОП, так что их может быть еще больше...
      <p>
      Мы разделили все найденные метрики на три группы:
      <ul>
      <li>Критерии,завязанные на студенте и его оценках, заинтересованности обучения на данной программе</li>
      <li>Критерии, описывающее конкретного преподавателя так, например, оценку его деятельности, полученную от его студентов</li>
      <li>Самая обширная тема - метрики, описывающие университет, его место в мировых рейтингах, наличие предметов в ОП, которые рассказываются в лучших институтах мира, оценка того, насколько преподавательских состав “силен” и много чего другого, о чем можно почитать ниже в описании используемых критерий.
      </li>
      </ul>

        <h2>Главные фичи проекта:</h2>
        <ul>
      <li>Огромное количество метрик в достаточной мере описывающих данную нам образовательную программу</li>
      <li>Функционал сравнения различных ОП как в общем агрегированном случае, так и по каждому из критериев по отдельности для лучшего понимания превосходства одной программы над другой</li>
      <li>Возможность корректировать веса критериев по своему усмотрению</li>
      <li>Возможность редактировать критерии по своему усмотрению</li>
      <li>Простой способ запуска приложения через приложенные скрипты</li>
      <li>Приятный интерфейс, позволяющий в полной мере насладиться работой с нашим инструментом</li>
      <li>Возможность импорта данных для критериев из Google Forms</li>
      <li>Круглосуточный саппорт на протяжении всего хакатона</li>
</ul>
        <p>
      Проект написали:<br>
      Иванов Андрей Александрович - faktr1998@mail.ru<br>
      Лозинский Иван Павлович - ivanushka3d@ya.ru<br>
      Скиба Глеб Андреевич - gleb-skiba@mail.ru
              <br><br>
      <i>Шалость удалась</i>
      </section>
{% endblock %}