{% extends 'base.html' %}
{% block title %}Разбивка {{criteria.name}} по {{criteria.slicename}}{% endblock %}

{% block main %}
      <section class="text-center">
        <div class="container">
          <h1 class="py-3">Разбивка {{criteria.name}} по {{criteria.slicename}}</h1>
          <p class="lead text-muted">{{criteria.description}</p>
          <p>
            {% for slice in criteria.slices %}
                <a href="{% url 'slice' slice.id %}" class="btn {% if slice.id = criteria.sliceid %} btn-primary {% endif %} my-2">{{ slice.name }}</a>
            {% endfor %}
          </p>
        </div>
      </section>

      <div class="album">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <div class="card box-shadow">
                <canvas id="myChart1"></canvas>
              </div>
            </div>
            <div class="col-md">
              <div class="card box-shadow">
                <canvas id="myChart2"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    <script>
    var ctx = document.getElementById('myChart1').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    
{% endblock %}