{% extends 'base.html' %}
{% load static %}
{% block title %}
Разбивка {{criteria.name}} по {{criteria.slicename}}
{% endblock %}

{% block main %}
      <section class="text-center">
        <div class="container">
          <h1 class="py-3">Разбивка {{criteria.name}} по {{criteria.slicename}}</h1>
          <p class="lead text-muted">{{criteria.description}}</p>
          <p>
            {% for slice in criteria.slices %}
                <a href="{% url 'chartSlicesSpec' id=criteria.chartId slice_type=slice  %}" class="btn {% if criteria.slicename == slice %} btn-primary {% endif %} my-2">{{ slice }}</a>
            {% endfor %}
          </p>
        </div>
      </section>

      <div class="album">
        <div class="container">
          <div class="row">
            {% for chart in criteria.charts %}
            <div class="col-6 suggest-holder">
              <div class="suggest" data-title="# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for all requests that do not
# match a ##ServerName or ##ServerAlias in any <VirtualHost> block." >?</div>
              <div class="card box-shadow">
                <canvas id="myChart{{chart.id}}"></canvas>
              </div>
            </div>
            <script>
            var ctx = document.getElementById('myChart{{chart.id}}').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {% autoescape off %} {{ chart.data }}{% endautoescape %}
              });
            </script>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}