{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{criteria.name}}
{% endblock %}

{% block main %}
      <section class="text-center">
        <div class="container">
          <h1 class="py-3">{{program.name}}</h1>
          <p class="lead text-muted">{{program.description}}</p>
        </div>
      </section>

      <div class="album">
        <div class="container">
          <div class="row">
            <div class="col-12 suggest-holder">
              <div class="suggest" data-title="{{program.mainChart.description}}">?</div>
              <div class="toggleCompare {% if program.mainChart.is_in_compare %}enabled{% endif %}" data-chart-label="{{program.mainChart.chart_label}}" data-program-id="{{program.mainChart.program_id}}"  title="добавить к сравнению">
                <i class="fa fa-clone" aria-hidden="true"></i>
              </div>
              <div class="card box-shadow ">
                <canvas id="mainChart"></canvas>
            <script>
            var ctx = document.getElementById('mainChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {% autoescape off %} {{ program.mainChart.data }} {% endautoescape %}
            });
            </script>
              </div>
            </div>
          </div>
          <div class="row">
            {% for chart in program.charts %}
            <div class="col-6 my-3 text-center suggest-holder" >
              <div class="suggest" data-title="{{chart.description}}" >?</div>
              <div class="toggleCompare {% if chart.is_in_compare %}enabled{% endif %}" data-chart-label="{{chart.chart_label}}" data-program-id="{{chart.program_id}}"  title="добавить к сравнению">
                <i class="fa fa-clone" aria-hidden="true"></i>
              </div>

              <div class="card box-shadow">
                <canvas id="myChart{{chart.id}}"></canvas>
                <br>
                {% if chart.has_slices %}<a href="{% url 'chartSlices' chart.slicesId %}"> Посмотреть срезы </a>{% endif %}
              </div>
            </div>
            <script>
            var ctx = document.getElementById('myChart{{chart.id}}').getContext('2d');
            console.log({% autoescape off %} {{ chart.data }} {% endautoescape %});
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {% autoescape off %} {{ chart.data }} {% endautoescape %}
            });
            </script>
            {% endfor %}
          </div>
        </div>
      </div>


    
{% endblock %}