{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{criteria.name}}
{% endblock %}

{% block main %}
      <section class="text-center">
        <div class="container">
          <h1 class="py-3">{{program.name}}</h1>
          <p class="lead text-muted">{{program.description}}</p>
        </div>
      </section>

      <div class="album">
        <div class="container">
          <div class="row">
            <div class="col-12 suggest-holder">
              <div class="suggest">?</div>
              <div class="card box-shadow ">
                <canvas id="mainChart"></canvas>
            <script>
            var ctx = document.getElementById('mainChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {% autoescape off %} {{ program.mainChart.data }} {% endautoescape %}
            });
            </script>
              </div>
            </div>
          </div>
          <div class="row">
            {% for chart in program.charts %}
            <div class="col-6 my-3 text-center suggest-holder" >              <div class="suggest" data-title="# VirtualHost example:
# Almost any Apache directive may go into a VirtualHost container.
# The first VirtualHost section is used for all requests that do not
# match a ##ServerName or ##ServerAlias in any <VirtualHost> block." >?</div>
              <div class="card box-shadow">
                <canvas id="myChart{{chart.id}}"></canvas>
                <br>
                {% if chart.has_slices %}<a href="{% url 'chartSlices' chart.slicesId %}"> Посмотреть срезы </a>{% endif %}
              </div>
            </div>
            <script>
            var ctx = document.getElementById('myChart{{chart.id}}').getContext('2d');
            console.log({% autoescape off %} {{ chart.data }} {% endautoescape %});
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {% autoescape off %} {{ chart.data }} {% endautoescape %}
            });
            </script>
            {% endfor %}
          </div>
        </div>
      </div>


    
{% endblock %}