{% extends 'base.html' %}
{% block title %} Список программ {% endblock %}

{% block main %}
      <section class="text-center">
        <div class="container">
          <h1 class="py-3">Список программ</h1>
          <p class="lead text-muted">Выберете программу из списка для просмотра критериев</p>
        </div>
      </section>

      <section class="text-left">
        <div class="container">
          <h3><a href="{% url 'upload_data_teachers'  %}"> Загрузить данные преподавателей для программы </a></h1>
        </div>
        <div class="container">
          <h3><a href="{% url 'upload_data_students' %}"> Загрузить данные студентов для программы </a></h1>
        </div>
        <div class="container">
          <h3><a href="{% url 'upload_data_university' %}"> Загрузить данные университета для программы </a></h1>
        </div>
      </section>

      <div class="album">
        <ul class="container">
          {% for programm in programms %}
            <li><a href="{% url 'program' programm.id %}"> {{ programm.name }} </a></li>
          {% endfor %}
        </ul>
      </div>
      <style>
          .create-program input, .create-program textarea {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            margin-bottom: 5px;
          }
      </style>
      <form action="{% url 'create_program' %}" class="py-3 text-center create-program" method="post">
        {% csrf_token %}
        <input type="text" name="ProgramName" placeholder="Название программы">
        <textarea name="ProgramDescription"  placeholder="Описание программы"></textarea>
        <input type="submit" value="Создать программу" class="btn-primary">
      </form>
{% endblock %}