{% extends 'base.html' %}
{% block title %} Загрузка данных {% endblock %}

{% block main %}
      <section class="text-center">
        <div class="container">
          <h1 class="py-3">Список программ</h1>
          <p class="lead text-muted">Выберете программу из списка для просмотра критериев</p>
        </div>
      </section>

      <div class="album">
        <ul class="container">
          {% for programm in programms %}
            <li><a href="{% url 'programm' programm.id %}"> {{ programm.name }} </a></li>
          {% endfor %}
        </ul>
      </div>

{% endblock %}